

<div class="back-button">
  <ion-toolbar >
    <ion-back-button slot="start" defaultHref="" text="Instruções de uso" icon="chevron-back"></ion-back-button>
  </ion-toolbar>
</div>

<ion-content class="reserva-content">
  <img [src]="reserva.imagem" class="reserva-imagem" alt="imagem do lugar reservável">

  <div class="reserva-infos">
    <div class="item-info">
      <ion-icon name="people-outline" size="16" class="icon-green"></ion-icon>
      <p class="info-value">{{ reserva.capacidade }}</p>
      <small class="info-text">limite usuários</small>
    </div>

    <div class="item-info">
      <ion-icon name="map-outline" size="16" class="icon-green"></ion-icon>
      <p class="info-value">{{ reserva.sede }}</p>
      <small class="info-text">sede</small>
    </div>

    <div class="item-info">
      <ion-icon name="cash-outline" size="16" class="icon-green"></ion-icon>
      <p class="info-value">R$ {{ reserva.preco }}</p>
      <small class="info-text">valor da locação</small>
    </div>
  </div>

  <div class="reserva-descricao">
    <p>
      {{ reserva.descricao }}
    </p>
  </div>
</ion-content>



