
<div class="back-button">
  <ion-back-button text="Instruções de uso" icon="chevron-back"></ion-back-button>
</div>
<div class="reserva-content">
  <img [src]="reserva[0].imagem" alt="imagem do lugar reservável">
  <div class="reserva-infos">
    <div class="item-info">
      <ion-icon name="people-outline" class="icon-green"></ion-icon>
      <p class="info-value">{{ reserva[0].capacidade }}</p>
      <p lass="info-text">limite usuários</p>
    </div>

    <div class="item-info">
      <ion-icon name="map-outline" class="icon-green"></ion-icon>
      <p class="info-value">{{ reserva[0].sede }}</p>
      <p lass="info-text">sede</p>
    </div>

    <div class="item-info">
      <ion-icon name="cash-outline" class="icon-green"></ion-icon>
      <p class="info-value">R$ {{ reserva[0].preco }}</p>
      <p class="info-text">valor da locação</p>
    </div>
  </div>

  <div class="reserva-descricao">
    <p>
      {{ reserva[0].descricao }}
    </p>
  </div>
</div>



