.card-reserva {
  border-radius: 1.2rem;
  background: #FFF;
  color: #383737;
  height: 13.625rem;
  margin: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card-image {
    height: 7.5rem;
    width: 100%;
    object-fit: cover;
  }
  .card-title{
    font-size: 1.1rem;
  }
  .card-reserva-info{
    display: flex;
    flex-direction: column;
    padding: 0 0.65rem;
  }
  .card-reserva-item-info {
    margin: 0 0.8rem 0 0;
  }
}
